<div style="max-width:420px;margin:60px auto 100px;padding:0 24px;">
  <h1 style="font-family:var(--font-heading);color:var(--color-maroon);font-size:28px;margin-bottom:24px;">Create Account</h1>

  {% form 'create_customer' %}
    {% if form.errors %}
      <p style="color:#a12727;">{{ form.errors.messages.first }}</p>
    {% endif %}
    <p>
      <label for="FirstName">First name</label><br>
      <input type="text" name="customer[first_name]" id="FirstName" autocomplete="given-name">
    </p>
    <p>
      <label for="LastName">Last name</label><br>
      <input type="text" name="customer[last_name]" id="LastName" autocomplete="family-name">
    </p>
    <p>
      <label for="RegisterEmail">Email</label><br>
      <input type="email" name="customer[email]" id="RegisterEmail" autocomplete="email" required>
    </p>
    <p>
      <label for="RegisterPassword">Password</label><br>
      <input type="password" name="customer[password]" id="RegisterPassword" autocomplete="new-password" required>
    </p>
    <button type="submit">Create Account</button>
  {% endform %}

  <p style="margin-top:24px;">Already have an account? <a href="{{ routes.account_login_url }}">Login</a></p>
</div>
{% schema %}{ "name": "Customer Register", "settings": [] }{% endschema %}
